{{> message}}
<div class = "header">
<h3 class ="pageTitle">Manage Teams</h3>
</div>
<a href="/teams" class = "editTeamsButton">Done</a>
<div class = "teamsContainer">
<h2 class = "teamLabel">Create a New Team</h2>
<form action="/create-team" method="POST">
  <label class="manageTeamsLabel" for="team_name">Team Name</label>
  <input class = "teamTextBox" type="text" id="team_name" name="team_name" required>
  <button type="submit" class = "genericbutton">Create Team</button>
</form>

<h2 class = "teamLabel">Your Teams (Admin)</h2>
{{#each adminTeams}}
  <div class="team">
    <h3 class = "teamName">{{team_name}}</h3>
    <form action="/add-member" method="POST">
      <input class = "teamTextBox" type="hidden" name="team_id" value="{{team_id}}">
      <label class="manageTeamsLabel" for="username">Add Member Username:</label>
      <input class = "teamTextBox"  type="text" name="username" required>
      <button class = "genericbutton" type="submit">Add Member</button>
    </form>
    <form action="/remove-member" method="POST">
      <input class = "teamTextBox" type="hidden" name="team_id" value="{{team_id}}">
      <label  class="manageTeamsLabel" for="username">Remove Member Username:</label>
      <input class = "teamTextBox" type="text" name="username" required>
      <button class = "genericbutton" type="submit">Remove Member</button>
    </form>
  </div>
{{/each}}

<h2 class = "teamLabel">Your Teams (Member)</h2>
{{#each memberTeams}}
  <div class="team">
    <h3>{{team_name}}</h3>
    <form action="/leave-team" method="POST">
      <input type="hidden" name="team_id" value="{{team_id}}">
      <button type="submit">Leave Team</button>
    </form>
  </div>
{{/each}}
</div>