{{> message}}
<div class = "header">
<h3 class = "pageTitle">Teams</h3>
</div>
<a href="/manage-team" class = "editTeamsButton">Edit Teams</a>
<div class = "teamsContainer">
{{#each teams}}
  <div class="team">
    <h2 class = "teamName">{{team_name}}</h2>
    <h3 class = "members">Members</h3>
    <ul>
      {{#each members}}
        <p class = "teamMember"><strong>{{name}}</strong> ({{username}}) - {{email}} - Role: {{role}}</p><br>
      {{/each}}
    </ul>
  </div>
{{/each}}
</div>
